@import '../../../index.scss';
.header-mobile{
    position: fixed;
    z-index: 100;
    width: 100%;
    transform: translateY(-32%);
    background: $white;
    .logo{
        .logo-render{
            transform: translate(-35%, -15%);
        }
    }
}